<app-ngx-notifier [className]="'notify-cp'" ></app-ngx-notifier>
<ngx-ui-loader bgsColor="#FFFFFF" fgsColor="#FFFFFF" overlayColor="rgba(255,255,255,.8)" logoUrl="./assets/img/loader-logo-1.gif"></ngx-ui-loader>
<div class="page cita">
  <div class="container">
    <div class="row">
      <section class="box-filtros {{ paso1 }}">
        <form (ngSubmit)="formCitaPaciente.valid && procesarPaso1Exec();" [formGroup]="formCitaPaciente" name="formCitaPaciente">
          <h4> <strong> PASO 1: </strong> Seleccione Filtros </h4>
          <div class="form-group">
            <mat-form-field class="item field-sm field-cp" appearance="outline">
              <mat-label>LA CITA ES PARA: </mat-label>
              <mat-select  placeholder="LA CITA ES PARA:" formControlName="paciente" required>
                <mat-option *ngFor="let row of arrPacientes" [value]="row" [disabled]="!row.habilitado">
                    {{row.paciente}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="item field-sm field-cp" appearance="outline">
              <mat-label>SELECCIONE LA ESPECIALIDAD </mat-label>
              <mat-select  placeholder="ESPECIALIDAD" formControlName="especialidad" required 
              (selectionChange)="getMedicosPorEspecialidad($event.value.idespecialidad);" >
                <mat-option *ngFor="let row of arrEspecialidad" [value]="row" >
                    {{row.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="item field-sm field-cp" appearance="outline">
              <mat-label>SELECCIONE MÉDICO</mat-label>
              <mat-select placeholder="MÉDICO" formControlName="medico" required
              (selectionChange)="getCalendarioMes(null,$event.value.idmedico);">
                <mat-option *ngFor="let row of arrMedico" [value]="row">
                  {{row.descripcion}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="item field-sm field-cp" appearance="outline">
              <mat-label>SELECCIONE GARANTE</mat-label>
              <mat-select placeholder="GARANTE" formControlName="garante" required>
                <mat-option *ngFor="let row of arrGarante" [value]="row">
                    {{row.descripcion_gar}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- <div class="box-action">
            <button class="btn primary" mat-raised-button color="primary">PROCESAR</button> 
          </div> -->
        </form>
      </section>
      <section class="box-calendario {{ paso2 }}">
        <h4> <strong> PASO 2: </strong> Elija su Turno </h4>
        <div class="box-content-calendario">
          <div class="box-title-mes">
            <p> {{ arrCalendario.mes }} </p> 
            <div class="box-paginate">
              <div (click)="getCalendarioActions('prev');" class="icon icon-prev"><mat-icon>keyboard_arrow_left</mat-icon> </div>
              <div (click)="getCalendarioActions('next');" class="icon icon-next"><mat-icon>keyboard_arrow_right</mat-icon> </div>
            </div> 
          </div>
          <div class="box-title-semana">
            <div class="item-semana feriado"> Dom. </div>
            <div class="item-semana"> Lun. </div>
            <div class="item-semana"> Mar. </div>
            <div class="item-semana"> Mie. </div>
            <div class="item-semana"> Jue. </div>
            <div class="item-semana"> Vie. </div>
            <div class="item-semana"> Sab. </div>
          </div>
          <div class="box-dias">
            <div class="box-row" *ngFor="let row of arrCalendario.calendario">
              <div (click)="openDialogTurno(rowDet.fecha, rowDet.class);" class="box-dia {{ rowDet.class }} " *ngFor="let rowDet of row"> {{ rowDet.dia }} </div>
            </div>
          </div>
        </div>
        <div class="box-leyenda">
          <div class="box-item-leyenda">
            <div class="box-cuadro active"> </div>
            <div class="box-label"> DISPONIBLE </div>
          </div>
          <div class="box-item-leyenda">
            <div class="box-cuadro disabled"> </div>
            <div class="box-label"> NO DISPONIBLE </div>
          </div>
        </div>
      </section>
      <section class="box-confirmacion {{paso3}}">
        <h4> <strong> PASO 3: </strong> Confirmación </h4>
        <div class="box-resumen">
          <div class="box-group">
            <label class="box-label"> PACIENTE: </label> 
            <p> {{ paciente }} </p>
          </div>
          <div class="box-group">
            <label class="box-label"> ESPECIALIDAD: </label> 
            <p> {{ especialidad }} </p>
          </div>
          <div class="box-group">
            <label class="box-label"> MÉDICO: </label> 
            <p> {{ medico }} </p>
          </div>
          <div class="box-group">
            <label class="box-label"> GARANTE: </label> 
            <p> {{ garante }} </p>
          </div>
          <div class="box-group">
            <label class="box-label"> FECHA/TURNO: </label> 
            <p> {{ fecha }} / {{ hora }} </p>
            <!-- <p> Viernes 22 de Marzo / 3:30pm. </p> -->
          </div>
        </div>
        <div class="box-action">
          <button class="btn primary" mat-raised-button color="primary" (click)="confirmarCita();">CONFIRMAR CITA</button>
        </div>
      </section>
    </div>
  </div> 
</div>
