<div class="box-confirmacion">
  <!-- <div class="box-text-info"> En hora buena. ¡Se reservó tu cita correctamente! </div> -->
  <div class="box-text-confirm"> ¿Está seguro de confirmar la cita? </div>
  <div class="box-action">
    <button type="button" class="btn btn-rounded btn-sm accent" (click)="onDialogClose();">TODAVÍA NO</button>
    <button type="button" class="btn btn-rounded btn-sm primary" (click)="confirmarCita();">CONFIRMAR AHORA</button>
    <!-- <button type="button" class="btn btn-rounded btn-sm success">CONFIRMAR Y PAGAR AHORA</button> -->
  </div>
</div>