<div class="page historial">
  <div class="container">
    <div class="box-historial">
			<div class="box-tabs">
				<div class="box-tab-group">
					<div class="box-tab-item" [ngClass]="fTab.classCP" (click)="onTabMe('CP')">
						<a [routerLink]="">
							<span>CITAS PENDIENTES</span>
						</a>
					</div>
					<div class="box-tab-item" [ngClass]="fTab.classCR" (click)="onTabMe('CR')">
						<a [routerLink]="">
							<span>CITAS REALIZADAS</span>
						</a>
					</div>
				</div>
			</div>
			<div class="box-content-tabs">
				<div class="box-tab box-tab-cp" *ngIf="fTabContent.classCP">
					<div class="box-periodo">  </div>
					<div class="box-content-items" *ngFor="let row of arrCitasPendientes; last as isLast">
						<div class="box-item">
							<div class="box-fecha">
								<div class="box-content-fecha">
									<p class="mes">{{row.mes}}</p>
									<p class="dia">{{row.dia}}</p> 
								</div>
								<div class="timeline"></div>
								<div *ngIf="isLast" class="box-end"></div>
							</div>
							<div class="box-detail">
								<div class="box-nombre">
									{{row.paciente}}
								</div>
								<div class="box-detaiil-item box-hora">
									<div class="icon">
										<mat-icon>av_timer</mat-icon>
									</div>
									<div class="value">{{row.hora_inicio}}</div>
								</div>
								<div class="box-detaiil-item box-medico">
									<div class="icon">
										<mat-icon>person_pin</mat-icon>
									</div>
									<div class="value">{{row.medico}}</div>
								</div>
								<div class="box-detaiil-item box-especialidad">
									<div class="icon">
										<mat-icon>book</mat-icon>
									</div>
									<div class="value">{{row.especialidad}}</div>
								</div>
								<div class="box-action">
									<button class="btn btn-rounded btn-sm accent" type="button">PAGAR CITA</button>
									<button class="btn btn-rounded btn-sm btn-danger" (click)="openConfirmAnularCita(row.idcita);" type="button">ANULAR CITA</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="box-tab box-tab-cr" *ngIf="fTabContent.classCR">
					<div class="box-periodo">  </div>
					<div class="box-content-items" *ngFor="let row of arrCitasRealizadas; last as isLast">
						<div class="box-item">
							<div class="box-fecha">
								<div class="box-content-fecha">
									<p class="mes">{{row.mes}}</p>
									<p class="dia">{{row.dia}}</p> 
								</div>
								<div class="timeline"></div>
								<div *ngIf="isLast" class="box-end"></div>
							</div>
							<div class="box-detail">
								<div class="box-nombre"> {{row.paciente}} </div>
								<div class="box-detaiil-item box-hora">
									<div class="icon"> <mat-icon>av_timer</mat-icon> </div>
									<div class="value">{{row.hora_inicio}}</div>
								</div>
								<div class="box-detaiil-item box-medico">
									<div class="icon"> <mat-icon>person_pin</mat-icon> </div>
									<div class="value">{{row.medico}}</div>
								</div>
								<div class="box-detaiil-item box-especialidad">
									<div class="icon">
										<mat-icon>book</mat-icon>
									</div>
									<div class="value">{{row.especialidad}}</div>
								</div>
								<div class="box-action">
									<button class="btn btn-rounded btn-default btn-sm accent" disabled type="button">CITA PAGADA</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>