@import 'src/var.scss';
/* Valida page */
.valida .navbar{
    background-color: #003d71;
    box-shadow: 0px 11px 8px -8px rgba(70,70,70,0.4);
}
.valida .box-header{
    margin: auto;
    position: relative;
}
.valida .box-header img{
    margin: 8px;
    height: 70px;
}
.valida .box-valida{
    margin: auto;
    padding: 8%;
    padding-bottom: 3%;
}
.valida .box-valida .box-valida-content{
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
}
.valida .box-valida .box-valida-content .box{
    padding: 15px;
    font-size: 15px;
}
.valida .box-valida .box-valida-content h2{
    margin: 0;
    padding: 8px 12px;
    font-size: 28px;
    text-align: center;
    background-color: #fafafa;
    color: $accent;
}
.valida .box-valida .box-valida-content h2 .box{
    padding: 15px;
}
.valida .box-home a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.valida .box-home a .mat-icon{
    margin-right: 4px;
}