<div class="mat-dialog-header">
    <h1 class="mat-dialog-title" mat-dialog-title> Seleccione la hora deseada </h1> 
    <button mat-stroked-button (click)="onDialogClose()"> 
        <mat-icon>close</mat-icon>
    </button> 
</div>
<div class="mat-dialog-content" mat-dialog-content> 
    <div class="box-turnos">
        <form (ngSubmit)="formTurno.valid && elegirTurno(formTurno);" [formGroup]="formTurno" name="formTurno">
            <div class="box-content-turnos">
                <div class="box-turno">
                    <div class="box-eleccion">
                        <label for="{{row.hora_inicio}}" *ngFor="let row of arrHorario">
                            <input type="radio" id="{{row.hora_inicio}}" formControlName="turno" name="turno" [value]="row" >
                            <span> {{row.hora_inicio}} </span>
                            <span class="checkmark"></span>
                        </label>
                        <!-- <p>{{ formTurno.value | json }}</p>
                        <p>{{ arrHorario | json }}</p> -->
                        <!-- <mat-radio-group class="" [(ngModel)]="eleccionTurno" name="eleccionTurno">
                            <mat-radio-button class="rb-turno" color="primary" [value]="row.fecha" *ngFor="let row of arrHorario">
                                <span> {{row.hora_inicio}} </span>
                            </mat-radio-button>
                        </mat-radio-group>  -->
                    </div>
                </div>
            </div>
            <div class="box-action">
                <button class="btn primary" mat-raised-button color="primary">ELEGIR</button>
            </div>
        </form>
    </div>
</div>